body {
    margin: 0; /* Adjust as needed */
    padding: 0; /* Adjust as needed */ /* Green border color */
    background-color: black;
    color: #00FF00;
    font-family: 'Courier New', monospace;
    font-size: 16px;
}
